<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cellular Automaton</title>
    <link rel="stylesheet" href="/static/style.css">
    </head>
<body>
    <h1 align="center">Wolfram's Cellular Automata</h1>
    <p align="center">Rule Number: <span id="randomNumber"></span></p>
    <p align="center">Binary Representation: <span id="binaryRepresentation"></span></p>

    <canvas id="canvas" width="1250" height="550"></canvas>
    <script src="/static/cellular_automata.js"></script>
</body>
</html>
